@charset "UTF-8";

form{
	border-radius: 5px;
	background-color: teal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input, select, textarea{
	width: 50%;
}

.left{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

label{
	width: inherit;
}